<section class="login-field">
	<div class="container padding-top-100">
		<div class="login-form">
			<div class="login-content">
				<form>
					<div class="form-group">
						<div class="input-group login-input-group">
							<div class="input-group-addon">
								<i class="icon-user"></i>
							</div>
							<input class="form-control login-input" placeholder="Username">
						</div>
						
					</div>
					<div class="form-group">
						<div class="input-group login-input-group">
							<div class="input-group-addon">
								<i class="icon-user"></i>
							</div>
							<input class="form-control login-input" placeholder="Password" type="password">
						</div>
					</div>
					<div class="form-group">
						<button class="login-submit" type="submit">Login</button>
					</div>
				</form>
				<div class="login-bottom-link margin-top-70">
					<a href="javascript;" class="font-white">Forgot Password?</a>
					<a href="javascript;" class="font-white">Register</a>
				</div>
			</div>
		</div>
	</div>
</section>