<section>
	<div class="container padding-top-100">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="font-35px">
					<b>Manage the Visitor</b>
				</div>
			<!-- 	<div class="font-24px margin-top-20">
					You're just one step away from taking advantage of our file sharing service!
				</div> -->
			</div>
			<div class="margin-top-70 col-xs-12 col-sm-12 col-md-12">
				<table class="table">
				    <thead>
				      <tr>
				        <th class="text-center">ID</th>
				        <th class="text-center">Count</th>
				        <th class="text-center">Username</th>
				        <th></th>
				      </tr>
				    </thead>
				    <tbody>
				      <tr>
				        <td class="text-center">1</td>
				        <td class="text-center"><a href="#/manageDetail">3</a></td>
				        <td class="text-center">Hamid L</td>
				      </tr>
				    </tbody>
				  </table>
			</div>
		</div>
	</div>
</section>