<section>
	<div class="container padding-top-100">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="font-35px">
					<b>Manage Details</b>
				</div>
			<!-- 	<div class="font-24px margin-top-20">
					You're just one step away from taking advantage of our file sharing service!
				</div> -->
			</div>
			<div class="margin-top-70 col-xs-12 col-sm-12 col-md-12">
				<table class="table">
				    <thead>
				      <tr>
				        <th class="text-center">Date</th>
				        <th class="text-center">Filename</th>
				        <th class="text-center">File Size</th>
				        <th class="text-center">Price</th>
				        <th class="text-center">Count of Downloaded</th>
				        <th></th>
				      </tr>
				    </thead>
				    <tbody>
				      <tr>
				        <td class="text-center">2017-08-13</td>
				        <td class="text-center">test.png</td>
				        <td class="text-center">214KB</td>
				        <td class="text-center">$3.99</td>
				        <td class="text-center">25</td>
				        <td><button href="javascript;" class="btn get-quote">Delete</button></td>
				      </tr>
				      <tr>
				        <td class="text-center">2017-08-13</td>
				        <td class="text-center">test.png</td>
				        <td class="text-center">214KB</td>
				        <td class="text-center">$3.99</td>
				        <td class="text-center">25</td>
				        <td><button href="javascript;" class="btn get-quote">Delete</button></td>
				      </tr>
				      <tr>
				        <td class="text-center">2017-08-13</td>
				        <td class="text-center">test.png</td>
				        <td class="text-center">214KB</td>
				        <td class="text-center">$3.99</td>
				        <td class="text-center">25</td>
				        <td><button href="javascript;" class="btn get-quote">Delete</button></td>
				      </tr>
				    </tbody>
				  </table>
			</div>
		</div>
	</div>
</section>