<section>
	<div class="container padding-top-100">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="font-35px">
					<b>REGISTER</b>
				</div>
				<div class="font-24px margin-top-20">
					You're just one step away from taking advantage of our file sharing service!
				</div>
			</div>
		</div>
		<form>
			<div class="row">
				<div class="margin-top-20 col-xs-12 col-sm-6 col-md-6">
					<div class="font-16px">
						Please enter your information to register for an account. Your new account password will be sent to your email address.
					</div>
					<div class="margin-top-10 font-16px">
						If you don't receive anything, check your spam filters to ensure emails from this site get through. Emails from this site are sent from admin@filehosting.com
					</div>
				</div>
				<div class="margin-top-20 col-xs-12 col-sm-6 col-md-6">
					<div class="input-group background-grey">
						<div class="input-group-addon">
							<i class="fa fa-chevron-right">

							</i>
						</div>
						<select class="form-control register-input-padding" autofocus="autofocus" tabindex="1" name="title">
							<option disabled selected>Title</option>			
							<option>Mr</option>			
							<option>Ms</option>			
							<option>Mrs</option>			
							<option>Miss</option>			
							<option>Dr</option>			
							<option>Pro</option>			
						</select>
					</div>
					<div class="input-group background-grey">
						<div class="input-group-addon">
							<i class="fa fa-chevron-right">

							</i>
						</div>
						<input type="text" class="form-control" placeholder="Firstname" tabindex="1"/>
					</div>
					<div class="input-group background-grey">
						<div class="input-group-addon">
							<i class="fa fa-chevron-right">

							</i>
						</div>
						<input type="text" class="form-control" placeholder="Lastname" tabindex="1"/>
					</div>
					<div class="input-group background-grey">
						<div class="input-group-addon">
							<i class="fa fa-chevron-right">

							</i>
						</div>
						<input type="text" class="form-control" placeholder="Email" tabindex="1"/>
					</div>
					<div class="input-group background-grey">
						<div class="input-group-addon">
							<i class="fa fa-chevron-right">

							</i>
						</div>
						<input type="text" class="form-control" placeholder="Email Confirm" tabindex="1"/>
					</div>
					<div class="input-group background-grey">
						<div class="input-group-addon">
							<i class="fa fa-chevron-right">

							</i>
						</div>
						<input type="text" class="form-control" placeholder="Username" tabindex="1"/>
					</div>
					<div class="input-group form-buttons">
						<button class="singup-submit" type="submit"><i class="fa fa-check"></i> &nbsp;Register</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</section>